<h1>Your Dashboard</h1>
<a href="/new-post">Create New Post</a>
<h2>Your Posts</h2>
{{#each posts}}
    <div>
        <h2>{{this.title}}</h2>
        <a href="/edit-post/{{this.id}}">Edit</a>
        <a href="/delete-post/{{this.id}}">Delete</a>
    </div>
{{/each}}
